* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .App {
  background: rgb(186, 185, 185);
} */

.main_container {
  height: min-content;

  border-radius: 10px;
  background: rgb(196, 196, 196);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid red;
  max-width: 240px;
  padding: 0.5rem;
  margin: 4px;
  transition: transform 5s 5s ease-in;
  margin-top: 30px;
  box-shadow: 5px 0px 10px 0px black;
}

.main_container:hover {
  transform: scale(1.03, 1.03);
}

.img {
  object-fit: cover;

  width: 100%;
  height: 250px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.input_field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.input_field .text {
  font-size: 1.4rem;
  max-width: 990px;
  width: 90%;
  margin: 1px auto;
}

.mivielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img404 {
  height: 95vh;
  width: 100%;
}

.components {
  display: flex;
}

.movie_container {
  max-width: 770px;
  padding: 15px;
  gap: 40px;
}
.main_list {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.nav_list {
  max-width: 70%;
  background: grey;
  align-items: center;
  height: 8vh;
  display: flex;
  justify-content: space-around;
}

.nav_list > li {
  font-weight: 700;

  text-decoration: none;
}

.nav_style {
  background-color: gray;
}

.img-home {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.cardaction {
  display: flex;
  justify-content: space-around;
}

.awesome {
  border: 2px solid red;
  width: 100%;
}
